{% extends "MaicBlogBundle::layout.html.twig" %}
{% block title %}{{parent() }}: article {{ article.id }} du blog{% endblock %}
{% block h1 %}L'article {{parent() }}{% endblock %}
{% block MaicBlog_body %}
    <h2>Modification de l'article</h2>
    {% include 'MaicBlogBundle:Blog:formulaire.html.twig' %}
{% endblock %}